<% if (typeof message !== 'undefined') { %>
  <b><%= message %></b>
<% } %>

<b>Bind New Out-of-Band Credential</b>
<img src=<%= barcodeURL %>>

<div>
<a href="/credentials/new">Having problems?</a>
</div>
