<% if (typeof message !== 'undefined') { %>
  <b><%= message %></b>
<% } %>

<b>Bind New Credential</b>
<ul>
<li><a href="/credentials/new?type=otp">OTP</a></li>
<li><a href="/credentials/new?type=oob">OOB</a></li>
</ul>
